@import "normalize.less";
@import "../../bower_components/lesshat/build/lesshat.less";
html {
	body {
		text-align: center;
		font-size: 2em;
		background-color: #fff;
		.transition(.2s all ease-out);
		#menu {
			display: block;
			padding-top: 1em;
			font-size: 2em;
		}
		#game {
			max-width: 480px;
			margin: 0 auto;
			display: none;
			position: relative;
			padding: 2em 0.25em 0.25em;
			.som {
				> * {
					display: inline-block;
				}
				&:after {
					content: '=';
				}
			}
			form {
				display: block;
				input {
					width: 2em;
				}
			}
			#timer {
				position: absolute;
				left: .25em;
				top: .25em;
				&:after {
					content: 's';
				}
			}
			#score {
				position: absolute;
				right: .25em;
				top: .25em;
			}
		}
		#result {
			display: none;
			padding-top: 1em;
			font-size: 2em;
		}
		&.right {
			background-color: #0f0;
		}
		&.wrong {
			background-color: #f00;
		}
		&.game {
			#menu, #result {
				display: none;
			}
			#game {
				display: block;
			}
		}
		&.result {
			#menu, #game {
				display: none;
			}
			#result {
				display: block;
			}
		}
	}
	
}